.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 89, 89);
}
.left_side {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: brown;
  display: flex;
}
.inner-block {
  width: 65%;
  height: 85%;
  margin: 50px;
  transform: translateX(0px);
  transition: 300ms;
  opacity: 0;
}
.burger {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
}
.top {
  width: 100%;
  height: 20%;
  background-color: white;
}
.top:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}
.middle {
  width: 100%;
  height: 20%;
  background-color: white;
  margin-top: 20%;
}
.bottom {
  width: 100%;
  height: 20%;
  background-color: white;
  margin-top: 20%;
}
.input:hover + .burger > .top {
  margin-top: 20px;
  transform: rotate(45deg);
  transition: 0.5s;
}
.input:hover + .burger > .bottom {
  margin-top: -13px;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.input:hover + .burger > .middle {
  display: none;
  transition: 0.5s;
}
.input:checked + .burger + .inner-block {
  transform: translateX(20%);
  opacity: 1;
}
.input {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.word1:hover ~ .B2 {
  transform: translateY(5px);
  opacity: 1;
  width: 150px;
}
.word1:hover + .B1 {
  transform: translateY(-5px);
  opacity: 1;
  width: 150px;
}
.word2:hover + .B1 {
  transform: translateY(-5px);
  opacity: 1;
  width: 150px;
}
.word2:hover ~ .B3 {
  transform: translateY(5px);
  opacity: 1;
  width: 150px;
}
.word3:hover + .B1 {
  transform: translateY(-5px);
  opacity: 1;
  width: 150px;
}
.word3:hover ~ .B4 {
  transform: translateY(5px);
  opacity: 1;
  width: 150px;
}
.B1 {
  transition: 300ms;
  position: relative;
  bottom: 75px;
  width: 150px;
  height: 2px;
  background-color: white;
  opacity: 0;
}
.B2 {
  transition: 300ms;
  position: relative;
  bottom: 30px;
  width: 150px;
  height: 2px;
  background-color: white;
  opacity: 0;
}
.B3 {
  transition: 300ms;
  position: relative;
  bottom: 30px;
  width: 150px;
  height: 2px;
  background-color: white;
  opacity: 0;
}
.B4 {
  transition: 300ms;
  position: relative;
  bottom: 30px;
  width: 150px;
  height: 2px;
  background-color: white;
  opacity: 0;
}
